@import url('/css/colors.css');

html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.container{
    width:auto;
    height: 100%;
    margin: 0px;
    padding: 10px 70px;
}

.container-fluid{
    width:auto;
    height: 100%;
    margin: 0px;
    padding: 10px 20px;
}

.card{
    border: 1px solid initial;
    box-shadow: 0 0 10px inherit;
    background-color: #FFF;
    margin: 10px 0px;
}
.card-header{
    padding: 10px;
}