/*------------------------------ Background colors --------------------------------*/
.bg-red {
  background-color: #f44336;
}

.bg-pink {
  background-color: #e91e63;
}

.bg-purple {
  background-color: #9c27b0;
}

.bg-deep-purple {
  background-color: #673ab7;
}

.bg-indigo {
  background-color: #3f51b5;
}

.bg-blue {
  background-color: #2196f3;
}

.bg-light-blue {
  background-color: #03a9f4;
}

.bg-cyan {
  background-color: #00bcd4;
}

.bg-teal {
  background-color: #00bcd4;
}

.bg-green {
  background-color: #4caf50;
}

.bg-lime {
  background: #cddc39;
}

.bg-yellow {
  background-color: #ffeb3b;
}

.bg-amber {
  background-color: #ffc107;
}

.bg-orange {
  background-color: #ff9800;
}

.bg-deep-orange {
  background-color: #ff5722;
}

.bg-grey {
  background-color: #9e9e9e;
}

.bg-brown {
  background-color: #795548;
}

.bg-light-grey {
  background-color: #9e9e9e;
}

.bg-default {
  background-color: #e6e6e6;
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-inc-blue {
  background-color: #00416d;
}

.bg-dark {
  background-color: #2d4059;
}

.bg-primary {
  background-color: #4e89ae;
}

.bg-warning {
  background-color: #f08a5d;
}

.bg-success {
  background-color: #32e0c4;
}

.bg-danger {
  background-color: #ff4b5c;
}

.bg-info {
  background-color: #40a8c4;
}

/*---------------x-------------- Background colors ------------------x-------------*/
/*------------------------------ Button Background colors --------------------------------*/
.btn-red {
  background-color: #f44336;
  color: #FFFFFF;
}

.btn-red:hover {
  background-color: #ea1c0d;
}

.btn-pink {
  background-color: #e91e63;
  color: #FFFFFF;
}

.btn-pink:hover {
  background-color: #c1134e;
}

.btn-purple {
  background-color: #9c27b0;
  color: #FFFFFF;
}

.btn-purple:hover {
  background-color: #771e86;
}

.btn-deep-purple {
  background-color: #673ab7;
  color: #FFFFFF;
}

.btn-deep-purple:hover {
  background-color: #512e90;
}

.btn-indigo {
  background-color: #3f51b5;
  color: #FFFFFF;
}

.btn-indigo:hover {
  background-color: #32408f;
}

.btn-blue {
  background-color: #2196f3;
  color: #FFFFFF;
}

.btn-blue:hover {
  background-color: #0c7cd5;
}

.btn-light-blue {
  background-color: #03a9f4;
}

.btn-light-blue:hover {
  background-color: #0286c2;
}

.btn-cyan {
  background-color: #00bcd4;
}

.btn-cyan:hover {
  background-color: #008fa1;
  color: #FFFFFF;
}

.btn-teal {
  background-color: #00bcd4;
}

.btn-teal:hover {
  background-color: #00635a;
  color: #FFFFFF;
}

.btn-green {
  background-color: #4caf50;
  color: #FFFFFF;
}

.btn-green:hover {
  background-color: #3d8b40;
}

.btn-lime {
  background: #cddc39;
}

.btn-lime:hover {
  background: #b2c022;
}

.btn-yellow {
  background-color: #ffeb3b;
}

.btn-yellow:hover {
  background-color: #ffe608;
}

.btn-amber {
  background-color: #ffc107;
}

.btn-amber:hover {
  background-color: #d39e00;
}

.btn-orange {
  background-color: #ff9800;
}

.btn-orange:hover {
  background-color: #cc7a00;
}

.btn-deep-orange {
  background-color: #ff5722;
  color: #FFFFFF;
}

.btn-deep-orange:hover {
  background-color: #ee3900;
}

.btn-grey {
  background-color: #9e9e9e;
  color: #FFFFFF;
}

.btn-grey:hover {
  background-color: #858585;
}

.btn-brown {
  background-color: #795548;
  color: #FFFFFF;
}

.btn-brown:hover {
  background-color: #593f35;
}

.btn-light-grey {
  background-color: #9e9e9e;
}

.btn-light-grey:hover {
  background-color: #858585;
}

.btn-default {
  background-color: #e6e6e6;
}

.btn-default:hover {
  background-color: #cdcdcd;
}

.btn-black {
  background-color: #000000;
  color: #FFFFFF;
}

.btn-black:hover {
  background-color: black;
}

.btn-white {
  background-color: #FFFFFF;
}

.btn-white:hover {
  background-color: #e6e6e6;
}

.btn-inc-blue {
  background-color: #00416d;
  color: #FFFFFF;
}

.btn-inc-blue:hover {
  background-color: #00233a;
}

.btn-dark {
  background-color: #2d4059;
}

.btn-primary {
  background-color: #4e89ae;
  color: #FFFFFF;
}

.btn-primary:hover {
  background-color: #3e6d8b;
}

.btn-warning {
  background-color: #f08a5d;
}

.btn-warning:hover {
  background-color: #ec682e;
}

.btn-success {
  background-color: #32e0c4;
}

.btn-success:hover {
  background-color: #1dc2a7;
}

.btn-danger {
  background-color: #ff4b5c;
  color: #FFFFFF;
}

.btn-danger:hover {
  background-color: #ff182e;
}

.btn-info {
  background-color: #40a8c4;
  color: #FFFFFF;
}

.btn-info:hover {
  background-color: #3188a0;
}

/*---------------x-------------- Button Background colors ------------------x-------------*/
/*------------------------------ Text colors --------------------------------*/
.text-red {
  background-color: #f44336;
}

.text-pink {
  background-color: #e91e63;
}

.text-purple {
  background-color: #9c27b0;
}

.text-deep-purple {
  background-color: #673ab7;
}

.text-indigo {
  background-color: #3f51b5;
}

.text-blue {
  background-color: #2196f3;
}

.text-light-blue {
  background-color: #03a9f4;
}

.text-cyan {
  background-color: #00bcd4;
}

.text-teal {
  background-color: #00bcd4;
}

.text-green {
  background-color: #4caf50;
}

.text-lime {
  background: #cddc39;
}

.text-yellow {
  background-color: #ffeb3b;
}

.text-amber {
  background-color: #ffc107;
}

.text-orange {
  background-color: #ff9800;
}

.text-deep-orange {
  background-color: #ff5722;
}

.text-grey {
  background-color: #9e9e9e;
}

.text-brown {
  background-color: #795548;
}

.text-light-grey {
  background-color: #9e9e9e;
}

.text-default {
  background-color: #e6e6e6;
}

.text-black {
  background-color: #000000;
}

.text-white {
  background-color: #FFFFFF;
}

.text-inc-blue {
  background-color: #00416d;
}

.text-dark {
  background-color: #2d4059;
}

.text-primary {
  background-color: #4e89ae;
}

.text-warning {
  background-color: #f08a5d;
}

.text-success {
  background-color: #32e0c4;
}

.text-danger {
  background-color: #ff4b5c;
}

.text-info {
  background-color: #40a8c4;
}

/*---------------x-------------- Text colors ------------------x-------------*/
/*------------------------------ border colors --------------------------------*/
.border-red {
  border-color: #f44336;
}

.border-pink {
  border-color: #e91e63;
}

.border-purple {
  border-color: #9c27b0;
}

.border-deep-purple {
  border-color: #673ab7;
}

.border-indigo {
  border-color: #3f51b5;
}

.border-blue {
  border-color: #2196f3;
}

.border-light-blue {
  border-color: #03a9f4;
}

.border-cyan {
  border-color: #00bcd4;
}

.border-teal {
  border-color: #00bcd4;
}

.border-green {
  border-color: #4caf50;
}

.border-lime {
  border: #cddc39;
}

.border-yellow {
  border-color: #ffeb3b;
}

.border-amber {
  border-color: #ffc107;
}

.border-orange {
  border-color: #ff9800;
}

.border-deep-orange {
  border-color: #ff5722;
}

.border-grey {
  border-color: #9e9e9e;
}

.border-brown {
  border-color: #795548;
}

.border-light-grey {
  border-color: #9e9e9e;
}

.border-default {
  border-color: #e6e6e6;
}

.border-black {
  border-color: #000000;
}

.border-white {
  border-color: #FFFFFF;
}

.border-inc-blue {
  border-color: #00416d;
}

.border-dark {
  border-color: #2d4059;
}

.border-primary {
  border-color: #4e89ae;
}

.border-warning {
  border-color: #f08a5d;
}

.border-success {
  border-color: #32e0c4;
}

.border-danger {
  border-color: #ff4b5c;
}

.border-info {
  border-color: #40a8c4;
}

/*---------------x-------------- border colors ------------------x-------------*/
/*# sourceMappingURL=colors.css.map */